.popup-content {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 950px;
  height: auto;
  border-radius: 10px;
}

.popup-centent-container {
  width: 100%;
  height: 90%;
  margin: 10px 0;
  /* overflow-y: scroll; */
  padding: 5px;
}

.header-main-div {
  background-color: #e7e7e7;
  margin-bottom: 5px;
  color: white;
  position: sticky;
}

.header-main-div img {
  width: 150px;
  padding: 10px 20px;
}

.header-main-div h1 {
  padding: 10px;
  margin: 0;
}

.popup-content {
  padding: 10px;
}

.popup-close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.popup-close img {
  width: 30px;
  height: 30px;
}

.map-marker {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e4e4e4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.item-consumed-container {
  width: 96%;
  height: 250px;
  border: 1px solid #555;
  overflow-y: scroll;
  margin-bottom: 10px;
  padding: 10px;
}

.precentage-sales-container{
  width: 96%;
  height: auto;
  border: 1px solid #555;
  padding: 10px;
}

.item-consumed-container h3 {
  padding: 0 10px;
}

.precentage-sales-container h3{
  padding: 0 10px;
}

.item-notConsumed-container {
  width: 100%;
  height: 100%;
  border: 1px solid #555;
  overflow-y: scroll;
}

.item-notConsumed-container h3 {
  padding: 0 10px;
}

.popup-customer-name h3 {
  padding: 0 10px;
}

.items-consumed-list{
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
}

.items-consumed-list p {
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid rgb(0, 127, 34);
  background-color: rgba(141, 255, 171, 0.426);
  color: green;
  margin: 0;
}

.sales-Probability-lists p{
  display: grid;
  grid-template-columns: repeat(5, 20%);;
}

.sales-grid{
  display: grid;
    grid-template-columns: 20% 19% 20% 19% 20%;
    gap: 5px;
}

.pagination{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.page-count{
  background-color: blue;
  padding: 5px 10px;
  border-radius: 50%;
  color: white;
}

.pagination button:active{
  color: blue;
}

.pagination button{
  color: #555;
  background-color: transparent;
  outline: none;
  border: none;
}

.sales-item{
  border: 1px solid rgb(0, 127, 34);
  background-color: rgba(141, 255, 171, 0.426);
  color: green;
  padding: 5px;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sales-item p{
  margin: 0;
}

.sales-item h3{
  margin: 0 ;
}
