.popup-content {
  background-color: white;
  padding: 5px;
  width: auto;
  height: auto;
}

.popup-centent-container {
  width: 100%;
  height: 90%;
  margin-top: 10px;
  /* overflow-y: scroll; */
  padding: 5px;
}

.header-main-div {
  background-color: #e7e7e7;
  margin-bottom: 5px;
  color: white;
  position: sticky;
}

.header-main-div img{
  width: 150px;
  padding:10px 20px ;
}

.header-main-div h1 {
  padding: 10px;
  margin: 0;
}

.popup-content {
  padding: 10px;
}

.popup-close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.popup-close img {
  width: 30px;
  height: 30px;
}

.map-marker {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e4e4e4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.popup-item-container{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  height: 400px;
  padding: 20px;
}

.item-consumed-container{
  width: 100%;
  height: 100%;
  border: 1px solid #555;
  overflow-y: scroll;
}

.item-consumed-container h3{
  padding: 0 10px;
}

.item-notConsumed-container{
  width: 100%;
  height: 100%;
  border: 1px solid #555;
  overflow-y: scroll;
}

.item-notConsumed-container h3{
  padding: 0 10px;
}

.popup-customer-name h3{
  padding: 0 20px;
}
