.landing-page-maincontainer{
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
}

.header-main-div {
  background-color: #307ABA;
  margin-bottom: 5px;
  color: white;
  position: sticky;
  height: 100vh;
  padding: 10px 20px;
  /* width: 300px; */
}

.logo-container{
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-container .tibersoft-logo {
  width: 150px;
  padding: 10px 20px;
}

.header-main-div h1 {
  padding: 10px;
  margin: 0;
}

.logo-container .menubar-icon{
  width: 25px;
  height: 25px;
}

.header-tools{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.header-tools .your-tools-icon{
  width: 40px;
  height: 40px;
}

.header-tools h1{
  font-weight: 100;
  font-size: 26px;
}

.Performance-div{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-title{
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-title img{
  width: 20px;
  height: 20px;
}

.nav-title p {
  font-weight: 100;
}

.nav-dropdown-btn img{
  width: 15px;
  height: 15px;
}

.popup-content {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 750px;
  height: auto;
  border-radius: 10px;
}

.popup-header-container{
  display: flex;
  justify-content: space-between;
}

.popup-customer-name h2{
  margin: 0;
  font-style: normal;
  font-weight: 100;
}

.popup-centent-container {
  width: 100%;
  height: 90%;
  /* margin: 10px 0; */
  /* overflow-y: scroll; */
  padding: 5px;
}

.popup-content {
  padding: 10px;
}

.popup-close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.popup-close img {
  width: 30px;
  height: 30px;
}

.map-marker {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e4e4e4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.item-consumed-container {
  width: 97%;
  height: auto;
  /* border: 1px solid #555; */
  /* overflow-y: scroll; */
  /* margin-bottom: 20px; */
  background-color: #ECEFF1;
  padding: 0 10px;
  border-radius: 7px;
}

.item-consumed-container p h3{
  position: sticky;
  margin: 0;
  padding: 5px 0;
  font-weight: 100;
  border-bottom: 1px solid #555;
  font-size: 14px;
}

.items-consumed-container-data{
  height: 100px;
  padding: 5px 0;
  overflow-y: scroll;
}

.precentage-sales-container{
  width: 96%;
  height: auto;
  /* border: 1px solid #555; */
  padding: 10px;
  background-color: #ECEFF1;
  border-radius: 7px;
}

.item-consumed-container h3 {
  padding: 0 10px;
}

.precentage-sales-container h3{
  padding: 0 10px;
}

.item-notConsumed-container {
  width: 100%;
  height: 100%;
  border: 1px solid #555;
  overflow-y: scroll;
}

.item-notConsumed-container h3 {
  padding: 0 10px;
}

.popup-customer-name h3 {
  padding: 0 10px;
}

.items-consumed-list{
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
}

.items-consumed-list p {
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid #307ABA;
  background-color: #c4e2fd;
  color: #307ABA;
  margin: 0;
  font-size: 12px;
}

.sales-Probability-lists p{
  display: grid;
  grid-template-columns: repeat(5, 20%);;
}

.sales-grid{
  height: auto;
}

/* table */
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(0, 0, 0, 0.43);
 }
.tbl-content{
  height:auto;
  overflow-x:auto;
  margin-top: 0px;
  /* border: 1px solid rgba(255,255,255,0.3); */
}
th{
  padding: 10px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}
td{
  padding: 10px 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: black;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.sales-data-view{
  display: grid;
  grid-template-columns: 20% 19% 20% 19% 20%;
  gap: 5px;
}

.sales-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  border: 1px solid #307ABA;
  background-color: #c4e2fd;
  color: #307ABA;
  padding: 0 5px;
  border-radius: 4px;
}

.sales-item p{
  margin: 0;
  padding: 5px 0;
  font-size: 14px;
}

.sales-item h3{
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 16px;
  /* font-weight: 500; */
}

.tabs button.active {
  /* background-color: red; */
  color: #307ABA;
  background-color: #c4e2fd;
  border-radius: 20px;
  padding: 0 20px;
}

.tabs button{
  color: black;
  background-color: transparent;
  border-radius: 20px;
  padding: 0 20px;
}

.tabs button.active img{
  color: blue;
}

.tabs button{
  background-color: transparent;
  border: none;
  outline: none;
}

.tabs{
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.tabs button img{
  height: 20px;
  width: 20px;
}

.tab-button-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.data-view-pagination{
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 20px;
}

.data-view-pagination button:disabled{
  color: #BBDEFB;
  background-color: transparent;
  outline: none;
  border: none;
}

.data-view-pagination button{
  color: #307ABA;
  background-color: transparent;
  outline: none;
  border: none;
}

.table-view-pagination{
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 20px;
}

.table-view-pagination button:disabled{
  color: #BBDEFB;
  background-color: transparent;
  outline: none;
  border: none;
}

.table-view-pagination button{
  color: #307ABA;
  background-color: transparent;
  outline: none;
  border: none;
}

.sales-content{
  background-color: #ECEFF1;
  padding: 10px;
  border-radius: 4px;
}